# Scraper and libraries
blis==0.7.4
catalogue==2.0.4
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cymem==2.0.5
idna==2.10
importlib-metadata==4.2.0
Jinja2==3.0.1
joblib==1.0.1
MarkupSafe==2.0.1
murmurhash==1.0.5
packaging==20.9
pathy==0.5.2
preshed==3.0.5
pyaes==1.6.1
pyasn1==0.4.8
pydantic==1.7.4
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
regex==2021.4.4
requests==2.25.1
rsa==4.7.2
six==1.16.0
smart-open==3.0.0
spacy==3.0.6
spacy-legacy==3.0.5
srsly==2.4.1
thinc==8.0.3
tqdm==4.61.0
typer==0.3.2
typing-extensions==3.10.0.0
urllib3==1.26.5
wasabi==0.8.2
zipp==3.4.1
telethon
neo4j

# Jupyter Notebook
pandas==1.1.5
numpy==1.18.4
matplotlib==3.2.1
networkx
dask
bs4
gensim 
nltk 
polyglot
pycld2
python-louvain
sklearn
lda
seaborn
